body {
    background-color: #f5f5f5;
}

/* Custom Bootstrap Navbar */
.navbar-default {
  background-color: #00bcd4;
  border-color: #18ffff;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #18ffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #18ffff;
}
.navbar-default .navbar-toggle {
  border-color: #18ffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #18ffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #18ffff;
  }
}

/* Custom Bootstrap Panel */
.panel-default > .panel-heading-custom {
    background: #00bcd4;
    color: #fff;
}

/* Speech audio option buttons */
.speech-mute-options {
  display: none;
}

/* Display of microphone listening/stop based on mouse hover on button */
#stopRecognition {
  display: none;
  color: #f44336;
}

#stopRecognition:hover {
  background-color: #f44336;
  color: #ffffff;
}

#microphone_listening_stop_span {
  display: none;
}

#stopRecognition:hover #microphone_listening_span {
  display: none;
}

#stopRecognition:hover #microphone_listening_stop_span {
  display: inline;
}

/* Chat message window styling */
.chat-message-row {
  padding-left: 5%;
  padding-right: 5%;
}

.chat-message {
  min-width: 27.5%;
  max-width: 77.5%;
  margin-bottom: 10px;
}

.chat-message-ai {
  background-color: #b2ebf2;
  border-color: #b2ebf2;
}

.chat-message-user {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
