<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ app_name }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/pizzabot.css?version={{ css_version }}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <script src="/static/js/modernizr-custom.js"></script>
    <script src="/static/js/speech.js?version={{ js_version }}"></script>
    <script src="/static/js/pizzabot.js?version={{ js_version }}"></script>

    <link rel="shortcut icon" href="../static/images/favicon.ico">

</head>
<body>

<input id="session_id" type="hidden" value="{{ session_id }}">

<div id="desktop_view">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="/">{{ app_name }}</a>
            </div>
            <!--<div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>--><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">Order Details</h3>
                    </div>
                    <div class="panel-body">
                        <div id="no_pizza_details">
                            Message us in the Pizza Chat on the right to order some pizza!
                        </div>
                        <div id="pizza_details" class="thumbnail" style="border: 0; margin: 0; display:none">
                            <img id="pizza_image_name" src="/static/images/pizza_unknown.png" alt="Pizza"
                                 style="display: none; max-height:200px;">
                            <div class="caption">
                                <h3 id="pizza_name"></h3>
                                <p id="pizza_description"></p>
                                <div><strong>Quantity:</strong> <span id="pizza_quantity"></span></div>
                                <div><strong>Crust:</strong> <span id="pizza_crust"></span></div>
                                <div><strong>Size:</strong> <span id="pizza_size"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom">
                        <h3 class="panel-title">
                            Pizza Chat
                            <span id="unmute_voice" class="speech-mute-options glyphicon glyphicon glyphicon-volume-off pull-right" aria-hidden="true" style="display: none;"></span>
                            <span id="mute_voice" class="speech-mute-options glyphicon glyphicon glyphicon glyphicon-volume-up pull-right" aria-hidden="true"></span>
                        </h3>
                    </div>
                    <div id="message-list" class="panel-body" style="/*height: 500px;*/ height:60vh; overflow-y: scroll;">

                    </div>
                    <div class="panel-footer" style="padding: 0; border: 0;">

                        <form id="send-message-form">
                            <div id="message_input_group" class="input-group">
                                <span class="input-group-btn" style="display: none;">
                                    <button id="startRecognition" class="btn btn-default" type="button"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                                </span>
                                <input id="new_message" name="new_message" type="text" class="form-control"
                                       placeholder="Talk to me!" autocomplete="off" autofocus="autofocus">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Send</button>
                                </span>
                            </div><!-- /input-group -->
                            <button id="stopRecognition" class="btn btn-default btn-block" type="button">
                                <span id="microphone_listening_span"><i class="fa fa-microphone" aria-hidden="true"></i> listening...</span>
                                <span id="microphone_listening_stop_span"><i class="fa fa-stop" aria-hidden="true"></i> stop listening</span>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
</div>

</body>
</html>